body{
	font-family: 'Merriweather Sans', sans-serif;
}
#mainpart{
	background: url("road2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#mainpart .mySearch{
	padding-left: 15%;
	padding-top: 15%;
}
#search{
	display: inline;
}
input{
	width: 90%;
	height: 35px;
}
.submit{
	padding-top: 10%;
	padding-left: 35%;
}
h1{
	padding: 1%;
	font-weight: bold;
	size: 1.2rem;
}
h3{
	padding: 1%;
}
a{
	color: white;
	font-weight: bold;
}
a:hover{
	color: white;
}
#secondpart{
	padding-right: 15%;
	background-color: 	rgb(240,248,255);
	height: 100vh;
}
#secondpart .mySearch{
	padding-left: 15%;
	padding-top: 2%;
}
#car{
	display: none;
}
#road{
	display: none;
}
#car, #road{
	position: relative;
	font-weight: bold;
	list-style-type: none;
}
#car a, #road a{
	color: black;
}
#car div, #road div{
	border-radius: 2%;
	padding-top: 2%;
}
#car li, #road li{
	background-color: white;
}